<!DOCTYPE html>
<html>
  <head>
    <title>Make-up Classes</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <!--NAV BAR -->

       <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="../makeups#index"><img src="/assets/logo.png" alt="can't find photo"></a>
              <div class="d-flex flex-row align-items-center">
                <% if user_signed_in? %>
                  <p class="text-white m-0 mr-3">Hello <strong><%= current_user.user_name %></strong></p>
                  <%= link_to 'Edit profile |', edit_user_registration_path, :class => 'navbar-link text-white mr-2' %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link text-white'  %>
                <% else %>
                  <%= link_to "Sign up |", new_user_registration_path, :class => 'navbar-link text-white'  %>
                  <%= link_to " Login", new_user_session_path, :class => 'navbar-link text-white'  %>
                <% end %>
            </div>
          </div>
        </nav>
  <!-- /NAV BAR-->


  <body>
    <%= yield %>
  </body>
</html>
