<div class="container col-sm-8 col-md-3">
  <h2 class="m-5 d-flex justify-content-center">Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "d-flex flex-column justify-content-center" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="m-2 d-flex justify-content-center flex-column">
      <%= f.label :Name %>
      <span class="input-field"><%= f.text_field :user_name, autofocus: true %></span>
    </div>

    <div class="m-2 d-flex justify-content-center flex-column">
      <%= f.label :email %>
      <span class="input-field"><%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="m-2 mt-4 d-flex justify-content-center flex-column">
      <%= f.label :Your_cohort %>
      <% @select_cohort = [] %>
      <% Cohort__c.all.map do |c|
          if c.Start_Date__c == nil
          elsif c.Start_Date__c > Date.today - 2.month and c.Start_Date__c < Date.today + 2.month
          @select_cohort += ["#{c.Name}"]
        end
      end
      %>
      <div class="input-field d-flex flex-row"><%= f.select :user_cohort, options_for_select(@select_cohort)%> </div>
    </div>


    <div class="m-2 d-flex justify-content-center flex-column">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <span class="input-field"><%= f.password_field :password, autocomplete: "off" %></span>
      <% if @minimum_password_length %>

        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="m-2 d-flex justify-content-center flex-column">
      <%= f.label :password_confirmation %>
      <span class="input-field"><%= f.password_field :password_confirmation, autocomplete: "off" %></span>
    </div>

    <div class="m-2 d-flex justify-content-center flex-column">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <span class="input-field"><%= f.password_field :current_password, autocomplete: "off" %></span>
    </div>

    <div class="m-2 mt-4 d-flex justify-content-center">
      <span class="submit-button"><%= f.submit "Update" %></span>
    </div>
  <% end %>

  <span class="m-2"><%= link_to "Back", :back %></span>
</div>
