<div class="container col-sm-8 col-md-3">

<h2 class="m-5 d-flex justify-content-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "d-flex flex-column justify-content-center"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="m-2 d-flex justify-content-center flex-column">
    <%= f.label :Name %>
    <span class="input-field"><%= f.text_field :user_name, autofocus: true %></span>
  </div>

  <div class="m-2 mt-4 d-flex justify-content-center flex-column">
    <%= f.label :email %>
    <span class="input-field"><%= f.email_field :email, autofocus: true %></span>
  </div>

  <div class="m-2 mt-4 d-flex justify-content-center flex-column">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <span class="input-field"><%= f.password_field :password, autocomplete: "off" %></span>
  </div>

  <div class="m-2 mt-4 d-flex justify-content-center flex-column">
    <%= f.label :password_confirmation %>
    <span class="input-field"><%= f.password_field :password_confirmation, autocomplete: "off" %></span>
  </div>

  <div class="m-2 mt-4 d-flex justify-content-center flex-column">
    <%= f.label :Your_cohort %>
    <% @select_cohort = [] %>
    <% Cohort__c.all.map do |c|
        if c.Start_Date__c == nil
        elsif c.Start_Date__c > Date.today - 2.month and c.Start_Date__c < Date.today + 2.month
        @select_cohort += ["#{c.Name}"]
      end
    end
    %>
    <div class="input-field d-flex flex-row"><%= f.select :user_cohort, options_for_select(@select_cohort)%> <div id="options_explanation"><p class="mb-2"><strong>How to choose?</strong></p><p class="mt-2 mb-0">Your cohort's name is as follow:</p><p class="mt-3"><strong>Location - Program - Start Date - Day of class - Batch Number</strong></p></div></div>
  </div>


  <div class="m-2 mt-4 d-flex justify-content-center">
    <span class="submit-button"><%= f.submit "Sign up" %></span>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  $("#options_explanation").hide();
  $("#user_user_cohort").hover(function(){
    $("#options_explanation").show();
  })

</script>

</div>
