<%= form_for(makeup, :html => {:class => "d-flex flex-column justify-content-center"}) do |f| %>
  <% if makeup.errors.any? %>
    <div id="error_explanation">
      <h2 class="m-5 d-flex justify-content-center"><%= pluralize(makeup.errors.count, "error") %> prohibited this makeup from being saved:</h2>

      <ul>
      <% makeup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

  <% end %>

  <div class="actions d-flex justify-content-center flex-column">
    <span class="d-flex justify-content-center"><strong><%= @spot_available %></strong></span>

    <% if @spot_available != "Sorry no spots available" %>
      <div class="m-2 d-flex justify-content-center flex-column">
        <%= f.label :Name%>
        <span class="input-field"><%= f.text_field :user_name, :required => true %></span>
      </div>
      <div class="m-2 d-flex justify-content-center flex-column">
        <%= f.label :Email%>
        <span class="input-field"><%= f.email_field :user_email, :required => true %></span>
      </div>
      <div class="m-2 d-flex justify-content-center flex-column">
        <%= f.label :Your_cohort%>
        <span class="input-field"><%= f.text_field :user_cohort, :required => true %></span>
      </div>
      <div class="m-2 d-flex justify-content-center flex-column">
        <%= f.label :clicked_cohort%>
        <span class="input-field"><%= f.text_field :clicked_cohort, :required => true, :value => params[:clicked_cohort] %></span>
      </div>
      <div class="m-2 d-flex justify-content-center flex-column">
        <%= f.label :clicked_day%>
        <span class="input-field"><%= f.text_field :clicked_day, :required => true, :value => params[:clicked_day] %></span>
      </div>
      </ul>
    </div>

      <span class="submit-button d-flex justify-content-center"><%= f.submit "Confirm Makeup" %></span>
    <% end %>
  </div>
<% end %>
