<% date = Date.today.month %>
<% if date == 1 %>
<% date = "January" %>
<% elsif date == 2 %>
<% date = "February"%>
<% elsif date == 3 %>
<% date = "March"%>
<% elsif date == 4 %>
<% date = "April"%>
<% elsif date == 5 %>
<% date = "May"%>
<% elsif date == 6 %>
<% date = "June"%>
<% elsif date == 7 %>
<% date = "July"%>
<% elsif date == 8 %>
<% date = "August"%>
<% elsif date == 9 %>
<% date = "September"%>
<% elsif date == 10 %>
<% date = "October"%>
<% elsif date == 11 %>
<% date = "November"%>
<% elsif date == 12 %>
<% date = "December"%>
<% end %>

<h1 class="calendar-title d-flex justify-content-center mt-4 mb-3"><%= date %> Calendar</h1>
<% month_beginning = Date.today.beginning_of_month %>
<% month_end = Date.today.end_of_month.day %>

  <div class="d-flex flex-row flex-wrap">
    <% for i in 0..month_end -1%>
      <% month_day = month_beginning + i %>
      <div class="calendar-day col-sm-2">
        <h1 class="inline"><%= month_day.day %></h1>
      <% for j in 1..Cohort.all.size %>
        <% cohort = Cohort.find(j) %>
        <% cohort.attributes.each_pair do |name, value|%>
          <% if month_day == value %>
            <div class="d-flex flex-row align-items-center">
                <div = "d-flex flex-start">
                  <p class="all-dates-day row-1 m-0">Cohort: <%="#{cohort.title[0..7]}"%></p>
                  <p class="all-dates-day row-1 m-0">Class: <%= "#{name[5..7]}"%></p>
                </div>
                <button class="all-dates-day makeup-button"><%=link_to "Makeup", new_makeup_path(@makeup, clicked_cohort:"#{cohort.title}", clicked_day: "#{name}")%></button>
            </div>
          <%end%>
        <%end%>
      <%end %>
      </div>
    <% end %>
  </div>
